@charset "utf-8";

.text {
    width: 280px;
    font-size: 25px;
    margin: auto;
    background-color: black;
    color: white;
    
    vertical-align: middle;
    border-radius: 6%;
    padding-left: 20px;
    padding-bottom: 25px;
}

.color {
    font-size: 30px;
    color: rgb(168, 164, 164);
}

#btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}